
    <style>
        /* Resetting default margin and padding */
        body, h1, p {
            margin: 0;
            padding: 0;
        }

        /* Global styles */
        body {
            font-family: Arial, sans-serif;
            background: #000000; /* Changed to black */
            color: #ffffff;
            overflow-x: hidden; /* Hide horizontal scrollbar */
        }

        /* Header styles */
        header {
            background: rgba(0, 0, 0, 0.8);
            color: #ffffff;
            padding: 20px;
            text-align: center;
            border-radius: 0 0 10px 10px;
            margin-bottom: 20px; /* Added margin */
        }

        .logo {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        /* Navigation styles */
        nav {
            background: rgba(0, 0, 0, 0.8);
            padding: 20px 0;
            width: 250px;
            position: fixed;
            top: 70px;
            bottom: 0;
            overflow-y: auto;
            border-radius: 0 10px 10px 0;
            transition: transform 0.3s ease; /* Added transition */
            transform: translateX(-250px); /* Hide navigation by default */
        }

        .nav-link {
            padding: 10px 20px;
            margin-bottom: 10px;
            display: block;
            text-decoration: none;
            color: #ffffff;
            border-radius: 10px;
        }

        .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        /* Content styles */
        .content {
            padding: 20px;
            text-align: center; /* Align content to center */
        }

        /* Icon styles */
        .toggle-icon {
            position: fixed;
            top: 20px;
            left: 20px;
            background: #800080;
            color: #ffffff;
            border: none;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 999;
        }
    </style>
